<a href="https://colab.research.google.com/github/prizmalty/flower_auction/blob/main/oracle_databricks_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 42 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 43.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845513 sha256=83cb4619f0b8d91c532dad1ff1e73c156e2fbc477ba6242bcc321cd231405233
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark.sql import SparkSession 
spark = SparkSession.builder \
    .master("local[1]") \
    .appName("IAB") \
    .getOrCreate()

In [ ]:
oracle_databricks_schema_data = [
    {"oracle_datatype": "CHAR", "databricks_datatype": "String"},
    {"oracle_datatype": "VARCHAR", "databricks_datatype": "String"},
]

oracle_databricks_schema_sdf = spark.createDataFrame(oracle_databricks_schema_data)
oracle_databricks_schema_sdf.show()

+-------------------+---------------+
|databricks_datatype|oracle_datatype|
+-------------------+---------------+
|             String|           CHAR|
|             String|        VARCHAR|
+-------------------+---------------+

In [ ]:
oracle_raw_datatype_data = [
    {"COLUMN_NAME":"member_id","oracle_datatype":"VARCHAR","databricks_datatype":"string"},
    {"COLUMN_NAME":"sales","oracle_datatype":"INTEGER","databricks_datatype":"integer"},
] 
oracle_raw_datatype_data_sdf = spark.createDataFrame(oracle_raw_datatype_data)
oracle_raw_datatype_data_sdf.show()

+-----------+-------------------+---------------+
|COLUMN_NAME|databricks_datatype|oracle_datatype|
+-----------+-------------------+---------------+
|  member_id|             string|        VARCHAR|
|      sales|            integer|        INTEGER|
+-----------+-------------------+---------------+

In [ ]:
oracle_raw_datatype_data_pdf = oracle_raw_datatype_data_sdf.toPandas()
oracle_raw_datatype_data_pdf.head()

  COLUMN_NAME databricks_datatype oracle_datatype
0   member_id              string         VARCHAR
1       sales             integer         INTEGER

In [ ]:
for item in zip(oracle_raw_datatype_data_pdf["COLUMN_NAME"],oracle_raw_datatype_data_pdf["databricks_datatype"]):
    print(f"""{item[0]} {item[1]},""")

member_id string,
sales integer,

In [ ]:
for item in zip(oracle_raw_datatype_data_pdf["COLUMN_NAME"],oracle_raw_datatype_data_pdf["databricks_datatype"]):
    data = f"""{item[0]} {item[1]}"""
print(data)

sales integer

In [ ]:
test_list = []
for item in zip(oracle_raw_datatype_data_pdf["COLUMN_NAME"],oracle_raw_datatype_data_pdf["databricks_datatype"]):
    data = f"""{item[0]} {item[1]}"""
    test_list.append(data)
test_list

['member_id string', 'sales integer']

In [ ]:
for i in test_list:
    print(i)

member_id string
sales integer

In [ ]:
data = ""
for i,item in enumerate(zip(oracle_raw_datatype_data_pdf["COLUMN_NAME"],oracle_raw_datatype_data_pdf["databricks_datatype"])):
    data = f"""{item[0]} {item[1]}"""
    if len(oracle_raw_datatype_data_pdf)-1 !=i:
        data += ","

print(data)

sales integer

In [ ]:
ddl_raw_data = ""
for column_name,databricks_datatype in zip(oracle_raw_datatype_data_pdf["COLUMN_NAME"],oracle_raw_datatype_data_pdf["databricks_datatype"]):
    ddl_raw_data += f"""{column_name} {databricks_datatype},"""

ddl_format= ddl_raw_data.rstrip(",")
print(ddl_format)

member_id string,sales integer

In [ ]:
test_data = [
    {"member_id":"A1","sales":5},
    {"member_id":"A2","sales":10},
    {"member_id":"A3","sales":10}
]

test_sdf = spark.createDataFrame(test_data,ddl_format)
test_sdf

DataFrame[member_id: string, sales: int]