<a href="https://colab.research.google.com/github/prizmalty/flower_auction/blob/main/%E8%8A%B1%E3%81%8D_%E3%83%87%E3%83%BC%E3%82%BF%E5%8F%AF%E8%A6%96%E5%8C%96.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **花き データ可視化**

## pandasのread_csvで読み込む

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dir_path ="/content/drive/MyDrive/python/kaki/Kak_K0.csv"

In [ ]:
df = pd.read_csv(dir_path,encoding="shift_jis")
df

,販売結果（花き 全市場）,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,令和 4年08月30日(火曜日),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,切枝（単位：本）,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,品名,卸売数量計,販売方法,卸売数量,北足立,大田,板橋,葛西,世田谷
4,その他の切枝,40,相対,40,-,-,40,-,-
...,...,...,...,...,...,...,...,...,...
74,NaN,NaN,商物分離,10299,-,10299,-,-,-
75,小計,15382,せり・入札,2013,136,1086,764,16,11
76,NaN,NaN,相対,2793,386,2386,-,5,16
77,NaN,NaN,第三者販売,288,-,196,-,92,-
78,NaN,NaN,商物分離,10299,-,10299,-,-,-

素のpandasで読み込む方法は難しそう

##スクレイピングで取得する

In [ ]:
#モジュールインポート
import requests
from bs4 import BeautifulSoup
from time import sleep
import datetime 
import pandas as pd
import re

In [ ]:
today = datetime.date.today()
print(today)

2022-09-01

In [ ]:
today_str = str(today)
today_str

'2022-09-01'

In [ ]:
today

datetime.date(2022, 9, 1)

In [ ]:
#URL取得
URL="https://www.shijou-nippo.metro.tokyo.lg.jp/SN/202208/20220831/Kak/SN_Kak_Zen_index.html"

In [ ]:
response=requests.get(URL)
response

In [ ]:
!pip install chardet

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: chardet in /usr/local/lib/python3.7/dist-packages (3.0.4)

In [ ]:
soup = BeautifulSoup(response.content, 'html.parser')

In [ ]:
table=soup.find_all("div",class_="kekka-page-kak-zen")[2]
table

<div class="kekka-page-kak-zen">
<a name="BUNRUI2"></a>
<table border="1" bordercolor="#999999" width="100%">
<caption class="kekka-page-kak-caption">切葉（単位：枚）</caption>
<tr>
<th bgcolor="#ccccff" class="kekka-page-kak-hinmei-zen">品名</th>
<th bgcolor="#ccccff" class="kekka-page-kak-tnum-zen">卸売数量計</th>
<th bgcolor="#ccccff" class="kekka-page-kak-hanbai-zen">販売方法</th>
<th bgcolor="#ccccff" class="kekka-page-kak-num-zen">卸売数量</th>
<th bgcolor="#9999ff" class="kekka-page-kak-num-zen">北足立</th>
<th bgcolor="#ccccff" class="kekka-page-kak-num-zen">大田</th>
<th bgcolor="#9999ff" class="kekka-page-kak-num-zen">板橋</th>
<th bgcolor="#ccccff" class="kekka-page-kak-num-zen">葛西</th>
<th bgcolor="#9999ff" class="kekka-page-kak-num-zen">世田谷</th>
</tr>
<tr>
<td bgcolor="#ffffff" class="kekka-page-kak-hinmei-zen" rowspan="3">そてつ</td>
<td bgcolor="#ffffff" class="kekka-page-kak-tnum-zen" nowrap="" rowspan="3">6,685</td>
<td bgcolor="#ffffff" class="kekka-page-kak-hanbai-zen">せり・入札</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">800</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">100</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">500</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">200</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">−</td>
</tr>
<tr>
<td bgcolor="#ffffff" class="kekka-page-kak-hanbai-zen">相対</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">5,845</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">820</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">4,425</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">240</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">150</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">210</td>
</tr>
<tr>
<td bgcolor="#ffffff" class="kekka-page-kak-hanbai-zen">第三者販売</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">40</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">40</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">−</td>
</tr>
<tr>
<td bgcolor="#ffffcc" class="kekka-page-kak-hinmei-zen" rowspan="3">フェニックス</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-tnum-zen" nowrap="" rowspan="3">22,890</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-hanbai-zen">せり・入札</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">400</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">400</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">−</td>
</tr>
<tr>
<td bgcolor="#ffffcc" class="kekka-page-kak-hanbai-zen">相対</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">21,890</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">4,000</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">12,150</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">2,000</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">600</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">3,140</td>
</tr>
<tr>
<td bgcolor="#ffffcc" class="kekka-page-kak-hanbai-zen">第三者販売</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">600</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">400</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">200</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">−</td>
</tr>
<tr>
<td bgcolor="#ffffff" class="kekka-page-kak-hinmei-zen" rowspan="3">レザーファン</td>
<td bgcolor="#ffffff" class="kekka-page-kak-tnum-zen" nowrap="" rowspan="3">34,470</td>
<td bgcolor="#ffffff" class="kekka-page-kak-hanbai-zen">せり・入札</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">800</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">800</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">−</td>
</tr>
<tr>
<td bgcolor="#ffffff" class="kekka-page-kak-hanbai-zen">相対</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">33,570</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">3,000</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">22,150</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">1,740</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">3,600</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">3,080</td>
</tr>
<tr>
<td bgcolor="#ffffff" class="kekka-page-kak-hanbai-zen">第三者販売</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">100</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">100</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ffffff" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">−</td>
</tr>
<tr>
<td bgcolor="#ffffcc" class="kekka-page-kak-hinmei-zen" rowspan="4">その他の切葉</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-tnum-zen" nowrap="" rowspan="4">188,546</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-hanbai-zen">せり・入札</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">38,654</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">2,935</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">21,734</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">1,660</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">3,575</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">8,750</td>
</tr>
<tr>
<td bgcolor="#ffffcc" class="kekka-page-kak-hanbai-zen">相対</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">147,347</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">7,210</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">101,783</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">11,870</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">8,155</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">18,329</td>
</tr>
<tr>
<td bgcolor="#ffffcc" class="kekka-page-kak-hanbai-zen">第三者販売</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">2,495</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">2,085</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">230</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">180</td>
</tr>
<tr>
<td bgcolor="#ffffcc" class="kekka-page-kak-hanbai-zen">商物分離</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">50</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">50</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ffffcc" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#cccc99" class="kekka-page-kak-num-zen" nowrap="">−</td>
</tr>
<tr>
<td bgcolor="#ccccff" class="kekka-page-kak-hinmei-zen" rowspan="4">小計</td>
<td bgcolor="#ccccff" class="kekka-page-kak-tnum-zen" nowrap="" rowspan="4">252,591</td>
<td bgcolor="#ccccff" class="kekka-page-kak-hanbai-zen">せり・入札</td>
<td bgcolor="#ccccff" class="kekka-page-kak-num-zen" nowrap="">40,654</td>
<td bgcolor="#9999ff" class="kekka-page-kak-num-zen" nowrap="">3,035</td>
<td bgcolor="#ccccff" class="kekka-page-kak-num-zen" nowrap="">23,034</td>
<td bgcolor="#9999ff" class="kekka-page-kak-num-zen" nowrap="">1,660</td>
<td bgcolor="#ccccff" class="kekka-page-kak-num-zen" nowrap="">4,175</td>
<td bgcolor="#9999ff" class="kekka-page-kak-num-zen" nowrap="">8,750</td>
</tr>
<tr>
<td bgcolor="#ccccff" class="kekka-page-kak-hanbai-zen">相対</td>
<td bgcolor="#ccccff" class="kekka-page-kak-num-zen" nowrap="">208,652</td>
<td bgcolor="#9999ff" class="kekka-page-kak-num-zen" nowrap="">15,030</td>
<td bgcolor="#ccccff" class="kekka-page-kak-num-zen" nowrap="">140,508</td>
<td bgcolor="#9999ff" class="kekka-page-kak-num-zen" nowrap="">15,850</td>
<td bgcolor="#ccccff" class="kekka-page-kak-num-zen" nowrap="">12,505</td>
<td bgcolor="#9999ff" class="kekka-page-kak-num-zen" nowrap="">24,759</td>
</tr>
<tr>
<td bgcolor="#ccccff" class="kekka-page-kak-hanbai-zen">第三者販売</td>
<td bgcolor="#ccccff" class="kekka-page-kak-num-zen" nowrap="">3,235</td>
<td bgcolor="#9999ff" class="kekka-page-kak-num-zen" nowrap="">2,625</td>
<td bgcolor="#ccccff" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#9999ff" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ccccff" class="kekka-page-kak-num-zen" nowrap="">430</td>
<td bgcolor="#9999ff" class="kekka-page-kak-num-zen" nowrap="">180</td>
</tr>
<tr>
<td bgcolor="#ccccff" class="kekka-page-kak-hanbai-zen">商物分離</td>
<td bgcolor="#ccccff" class="kekka-page-kak-num-zen" nowrap="">50</td>
<td bgcolor="#9999ff" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ccccff" class="kekka-page-kak-num-zen" nowrap="">50</td>
<td bgcolor="#9999ff" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#ccccff" class="kekka-page-kak-num-zen" nowrap="">−</td>
<td bgcolor="#9999ff" class="kekka-page-kak-num-zen" nowrap="">−</td>
</tr>
</table>
</div>

In [ ]:
dataframe_columns = {
    "日付":"",
    "分類":"",
    "品名":"",
    "販売方法":"",
    "卸売数量":"",
    "北足立":"",
    "大田":"",
    "板橋":"",
    "葛西":"",
    "世田谷":""
}
df = pd.DataFrame([],columns= dataframe_columns.keys())

In [ ]:
#ターゲットとなるデータフレームの枠が作成された
df

Empty DataFrame
Columns: [日付, 分類, 品名, 販売方法, 卸売数量, 北足立, 大田, 板橋, 葛西, 世田谷]
Index: []

In [ ]:
#日付 取れた
datetime = today_str

In [ ]:
#分類 テーブルのキャプションから取るのが良いかも 
classification = table.find("caption",class_ ="kekka-page-kak-caption").text
classification

'切葉（単位：枚）'

In [ ]:
#品名 取れた
flower_name = table.find("td",class_="kekka-page-kak-hinmei-zen").text
flower_name

'そてつ'

In [ ]:
#販売方法
sales_method =  table.find("td",class_="kekka-page-kak-hanbai-zen").text
sales_method

'せり・入札'

In [ ]:
#卸売数量
wholesale_quantity = table.find_all("td",class_="kekka-page-kak-num-zen")[0].text
if wholesale_quantity=="−":
  wholesale_quantity = 0
else:
  wholesale_quantity = int(wholesale_quantity)
wholesale_quantity

800

In [ ]:
#北足立
north_adachi_quantity = table.find_all("td",class_="kekka-page-kak-num-zen")[1].text
if north_adachi_quantity == "−":
  north_adachi_quantity = 0 
else:
  north_adachi_quantity = int(north_adachi_quantity)
north_adachi_quantity

100

In [ ]:
#大田
ota_quantity  = table.find_all("td",class_="kekka-page-kak-num-zen")[2].text
if ota_quantity == "−":
  ota_quantity = 0
else:
  ota_quantity = int(ota_quantity)
ota_quantity

500

In [ ]:
#板橋
#値がない場合、"-"と返ってくる 
#この場合、整数0を返すような仕組みが必要（いつ何時この値が0になるかわからないので）
itabashi_quantity = table.find_all("td",class_="kekka-page-kak-num-zen")[3].text 
if itabashi_quantity == "−":
  itabashi_quantity = 0
else:
  itabashi_quantity =int(itabashi_quantity)
itabashi_quantity

0

In [ ]:
#葛西
kasai_quantity  = table.find_all("td",class_="kekka-page-kak-num-zen")[4].text
if kasai_quantity == "−":
  kasai_quantity = 0
else:
  kasai_quantity = int(kasai_quantity)
kasai_quantity

200

In [ ]:
#世田谷
setagaya_quantity  = table.find_all("td",class_="kekka-page-kak-num-zen")[5].text
if setagaya_quantity == "−":
  setagaya_quantity = 0
else:
  setagaya_quantity = int(setagaya_quantity) 
setagaya_quantity

0

In [ ]:
dataframe_value = {
    "日付":today_str,
    "分類":classification,
    "品名":flower_name,
    "販売方法":sales_method,
    "卸売数量":wholesale_quantity,
    "北足立":north_adachi_quantity,
    "大田":ota_quantity,
    "板橋":itabashi_quantity,
    "葛西":kasai_quantity,
    "世田谷":setagaya_quantity
}
data_list=[]
data_list.append(dataframe_value)
df = pd.DataFrame(data_list)
df

           日付        分類   品名   販売方法  卸売数量  北足立   大田  板橋   葛西  世田谷
0  2022-09-01  切葉（単位：枚）  そてつ  せり・入札   800  100  500   0  200    0